html {
  background-color: rgb(39, 39, 39);
  font-size: 20px;
}

ul {
  background: rgb(1, 132, 255);
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

li {
  margin-left: 20px;
}